---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
const formattedDate = new Intl.DateTimeFormat('en', { dateStyle: 'medium' }).format(frontmatter.pubDate);
---
<BaseLayout pageTitle={frontmatter.title}>
  <section class="post-meta">
    <time datetime={frontmatter.pubDate.toISOString()}>{formattedDate}</time>
    <p class="post-summary">{frontmatter.description}</p>
  </section>

  {frontmatter.image?.url && (
    <figure class="post-figure">
      <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    </figure>
  )}

  <ul class="tag-list">
    {frontmatter.tags.map((tag: string) => (
      <li class="tag-pill">
        <a href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))}
  </ul>

  <article class="post-content">
    <slot />
  </article>
</BaseLayout>
